# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
dist/
build/
*.egg-info/

# Generated images
*.png
*.jpg
*.jpeg
*.gif

# Model files
F-Lite-model/

# Model weights
*.pt
*.pth
*.bin
*.safetensors

# Jupyter Notebook
.ipynb_checkpoints

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
